[submodule "Wolf/vendor/glfw"]
	path = Wolf/vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Wolf/vendor/glm"]
	path = Wolf/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Wolf/vendor/stb"]
	path = Wolf/vendor/stb
	url = git@github.com:nothings/stb.git
